@use 'src/styles/vars';
@use 'sass:color';

.interests {

    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    height: fit-content;
    margin-bottom: 0.8em;

    &__title{
        font-family:'Press Start 2P', cursive;
        padding-bottom: 0.6em;
        width: 90%;
        margin: 1em 2em 1em 1em;
        border-bottom: 3px dotted vars.$title-color;
        text-align: left;
        color:vars.$title-color;
    }

    &__grid {
        width:90%;
        height: 300px;
        display: flex;
        flex-direction: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
        margin : 0.6em;
        align-self: center;
        align-items: center;
    }
    .grid__items{
        height: fit-content;
        width: 80px;
        text-align: center;
        margin: 0.5em;
        padding : 0.2em;
        border: none;
        border-radius: 5%;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        overflow-y: scroll;
        scrollbar-width: none;

        &__content__title{
            display: none;
        }

        &:nth-child(1){
            background: vars.$heavy-blue;
            border: 2px solid vars.$light-blue;
        }
        &:nth-child(2){
            background: vars.$green;
            border: 2px solid color.scale(vars.$green, $lightness: 30%);
        }
        &:nth-child(3){
            background: vars.$yellow;
            border: 2px solid color.scale(vars.$yellow, $lightness: 30%);
        }
        &:nth-child(4){
            background: vars.$orange;
            border: 2px solid color.scale(vars.$orange, $lightness: 30%);
        }
        &:nth-child(5){
            background: vars.$red;
            border: 2px solid color.scale(vars.$red, $lightness: 15%);
        }
        &:nth-child(6){
            background: vars.$brown;
            border: 2px solid color.scale(vars.$brown, $lightness: 15%);
        }
        &:nth-child(7){
            background: vars.$purple;
            border: 2px solid color.scale(vars.$purple, $lightness: 15%);
        }
        &:nth-child(8){
            background: vars.$sand;
            border: 2px solid color.scale(vars.$sand, $lightness: 30%);
        }
        & img {
            width: 50px;
            height: 50px;
            margin-top: 10px;
        }
        &:hover {
            height: 95%;
            width: 250px;
            scrollbar-width: initial;
            scrollbar-color: vars.$grey transparent;
            overflow-x: hidden;
            .grid__items__content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height:1.4em;
                &__title{
                    font-weight:bold;
                    flex-direction: column;
                    justify-content: center;
                    line-height:1.4em;
                    display: flex;
                }
            }
            
        }
        &__content{
            margin-top: 10px;
            display:none;
        }
    }
    
}

@media (max-width: 767.98px) {
    .interests {
        height:fit-content;
        &__grid {
            height:fit-content;
        }
    }
    .grid__items{
        // display:none;
        &:hover {
            height: 150%;
            width: 300px;
            .grid__items__content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                line-height:1.4em;
                &__title{
                    font-weight:bold;
                    flex-direction: column;
                    justify-content: center;
                    line-height:1.4em;
                    display: flex;
                }
            }
            
        }
        &__content{
            margin-top: 10px;
            display:none;
        }
    }

}