$title-color : #D88038;
$text-color : #F0D472;


//
//Thanks to Adigun Polack (https://twitter.com/AdigunPolack/status/1001020065343557632) for this wonderful palette !
//
$black: #040303;
$grey :#1C1618;
$heavy-blue: #47416B;
$green: #6C8C50;
$yellow: #E3D245;
$orange: #D88038;
$red: #A13D3B;
$brown: #4E282E;
$purple: #9A407E;
$sand: #F0D472;
$whitesmoke: #F9F5EF;
$light-blue: #8A8FC4;