@use 'src/styles/vars';
@use 'sass:color';


*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: vars.$red;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
  display:flex;
  flex-direction: column;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: vars.$yellow;
  border: 2px solid vars.$red;
  border-radius: 16px;
  z-index: 1;
}
.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: vars.$red;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  color: vars.$orange;
  margin-bottom: 10px;
}

.container .content {
  padding: 30px 30px 30px 30px;
  background: vars.$grey;
  position: relative;
  border-radius: 0 500px 500px 0;
  border-top: 2px solid vars.$orange;
  border-left: 2px solid vars.$orange;
  border-right: 2px solid vars.$brown;
  border-bottom: 2px solid vars.$brown;
}
.container.left .content .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid vars.$orange;
  margin-bottom: 10px;
}
.container.right .content .header{
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid vars.$orange;
  margin-bottom: 10px;
}

.container.right .content {
  border-radius: 5px 0 0 5px;
}
.container.left .content {
  border-radius: 5px 0 0 5px;
}

.container .content h2 {
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: vars.$red;
}
.container .content h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  color: vars.$purple;
  padding-bottom: 10px;
}

.container .content .anecdote {
  height: auto;
  max-height: 9999px;
  margin: 0 0 0 5px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: vars.$sand;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}
.container .content .anecdote.show {
  height: auto;
  max-height: 9999px;
  margin: 0 0 0 5px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: vars.$sand;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.container .button {
  border: 1px inset vars.$orange;
  font-size: 23px;
  align-content: center;
  background-color: vars.$grey;
  color: vars.$sand;
}

@media (max-width: 767.98px) {

  .timeline {
    display:flex;
    flex-direction:column;
    margin-left: 14px;
  }
  .timeline::after {
    display: none;
  }

  .container {
    width: 100%;
    padding: 10px 5px;
  }
  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    display:none;
  }

  .container.left::before,
  .container.right::before {
    display: none;
  }
  .container.right .content .header{
    flex-direction: row;
    text-align: left;
  }

}